body {
    background: #f2f6ff;
    font-family: Segoe UI, sans-serif;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

h2 {
    color: #0d6efd;
}

.table th {
    background: #0d6efd;
    color: white;
    text-align: center;
}

.table td {
    text-align: center;
}
